body {
    background-color: #fc4d01;
    color: #ffffff;
}

div {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 25px black;
}

.een {
    background-color: rgba(253,178,146,0.75);
    position: absolute;
    top: 150px;
    left: 10px;
    z-index: 4;
}

.twee {
    background-color: rgba(253,121,60,0.75);
    position: absolute;
    top: 190px;
    left: 50px;
    z-index: 3;
}

.drie {
    background-color: rgba(252,77,1,0.75);
    position: absolute;
    top: 230px;
    left: 90px;
    z-index: 2;
}

.vier {
    background-color: rgba(192,61,1,0.75);
    position: absolute;
    top: 270px;
    left: 130px;
    z-index: 1;
}