body {
    background-color: #c7ced8;
}

table {
    text-align: center;
    border: 2px solid black;
    color: white;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.head {
    background-color: #27426d;
    font-weight: normal;
}

.foot {
    background-color: #27426d;
}

tbody > tr:nth-child(2n+1) {
    background-color: #4f8cef;
}

tbody > tr:nth-child(2n) {
    background-color: #6facff;
}

tr {
    border: 2px solid black;
}

td {
    border: 2px solid black;
}