html {
    font-family: Bahnschrift, sans-serif;
    background-color: cornflowerblue;
    font-size: 1.1em;
}

section {
    padding: 5px;
    width: 960px;
    margin: 0 auto;
    border: 2px solid darkkhaki;
}

header {
    background-color: #1b5fb7;
    color: cornsilk;
}

main {
    width: 850px;
    float: left;
}

figure {
    width: 70px;
    float: right;
    margin: 0;
    border: 3px dashed #1b5fb7;
}

footer {
    border-top: 1px solid #1b5fb7;
    clear: both;
    text-align:center;
    background-color: peru;
    color: white;
}

img {
    width: 100%;
}

@media only screen and (max-width: 980px) {
    figure {
        width: 15%;
        height: auto;
    }

    main {
        width: 80%;
    }

    section {
        border: 0;
        padding: 0;
        width: 100%;
    }

    body {
        margin: 0;
    }

    footer {
        width: 100%;
    }
}

@media only screen  and (max-width: 700px) {
    footer {
        display: none;
    }

    figure {
        border: 0;
        float: none;
        width: 25%;
        text-align: center;
        margin: 0 auto;
    }

    main {
        float: none;
        max-width: 700px;
    }

    section {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    section {
        width: 100%;
    }

    img {
        display: none;
    }
}